<%= form_for(@forum) do |f| %>
  <% if @forum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@forum.errors.count, "error") %> prohibited this forum from being saved:</h2>

      <ul>
      <% @forum.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description, :rows=>"5" ,:cols=> "80", :style => "width: 500px;" %><br />
  </div> <br />
  <div class="actions" >
    <%= f.submit :class => "btn btn-primary", :style =>"color:white" %>
  </div>
<% end %>
