<% provide(:title, "Forums") %>
<div style="background-color: #131517; 
			padding: 10px 10px 40px; 
			color: white" >
	<h4 class="pull-left" style="font-size: 25px">Discussion Forums</h4>
</div>
<table class="table table-striped table-bordered" style="background-color: rgba(40, 40, 40, 0.9);color: white">  
  <tr style="background-color: #131517">
    <th width="70%">Forum</th>  
    <th width="30%">Last Post</th>
    <th></th>
    <th></th>  
  </tr>  
  <% for forum in @forums %>  
    <tr>  
      <td><h4><%= link_to h(forum.name), forum_path(forum.id) %></h4>  
        <small><%= forum.topics.count %> topics</small><br />  
        <%=h forum.description %>
      </td>  
      <td>
      	<% if forum.most_recent_post %>
      		<%= distance_of_time_in_words_to_now forum.most_recent_post.last_post_at %> ago by <%= link_to forum.most_recent_post.user.username, "/users/#{forum.most_recent_post.last_poster_id}" %>
      	<% else %>no posts<% end %>
      </td>  
      <% if current_user.admin? %>
      	<td><%= link_to "Edit", edit_forum_path(forum) %></td>
      <% else %>
      	<td></td>
      <% end %>  
      <% if current_user.admin? %>
      	<td><%= link_to "Delete", forum, :confirm => 'Are you sure?', :method => :delete %></td>
      <% else %>
      	<td></td>
      <% end %>  
    </tr>  
  <% end %>  
</table>

<% if current_user.admin? %>
<br />  
<p><%= link_to "New Forum", new_forum_path , :class => "btn btn-large btn-primary", :style =>"color:white" %></p>
<% end %>
