<% provide(:title, "Forums") %>

<div style="height:100%;  
			background-color: #131517; 
			padding: 10px 10px 40px; 
			color: white" >
			
			<h4 class="pull-left" style="font-size: 25px">Forum: "<%= @forum.name %>"</h4>
</div><br />

<table class="table table-striped table-bordered" style="background-color: rgba(40, 40, 40, 0.9); color: white">  
  <tr style="background-color: #131517">  
    <th width="60%">Topic Title</th>  
    <th width="10%">Total Posts</th>  
    <th width="30%">Last Post</th>
    <th></th>
    <th></th>  
  </tr>  
  <% for topic in @forum.topics %>  
    <tr>  
      <td><%= link_to h(topic.name), topic_path(topic.id) %>  
      <td><%= topic.posts.count %></td>  
      <td class="right">
      	<% if !topic.user.nil? %>
      		<%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <%= link_to topic.user.username, "/users/#{topic.last_poster_id}" %>
      	<% else %>
      		<%= distance_of_time_in_words_to_now topic.last_post_at %> ago by <i>Anonymous</i>
      	<% end %>	
      </td>
     
     <% if admin_or_owner?(topic.user_id)  %>
     	<td><%= link_to "Edit",edit_topic_path(topic.id) %></td>
     <% else %>
     	<td></td>
     <% end %>
     <% if current_user.admin? %>
     	<td><%= link_to "Delete", topic, :confirm => 'Are you sure?', :method => :delete %></td>
     <% else %>
     	<td></td>
     <% end %>
    </tr>  
  <% end %>  
</table><br />  
<p><%= link_to "New Topic", "/topics/new?forum_id=#{@forum.id}" , :class => "btn btn-large btn-primary", :style =>"color:white" %></p>