<% full_title "Resend confirmation instructions" %>
<div style="width: 350px; background-color: rgba(40, 40, 40, 0.9);padding: 20px;color: white">
<h2 class="pull-left">Resend confirmation instructions</h2><br /><br /><br />

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <div><%= f.submit "Resend confirmation instructions" , :class => "btn btn-primary", :style =>"color:white"%></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
