<% full_title "Sign Up" %>
<div style="width: 350px; background-color: rgba(40, 40, 40, 0.9);padding: 20px; color: white">
<h2 class="pull-left">Sign up</h2><br /><br /><br />

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :username , :style =>"color: white" %>
  <%= f.text_field :username %></div>
  
  <div><%= f.label :email , :style =>"color: white" %>
  <%= f.email_field :email %></div>

  <div><%= f.label :password , :style =>"color: white" %>
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation , :style =>"color: white" %>
  <%= f.password_field :password_confirmation %></div><br />
  
  <div><%= f.check_box :mail_subscription %> <%= f.label "Lend a helping hand, by receiving E-mail for new posts?" , :style =>"color: white"%></div><br />

  <div><%= f.submit "Sign up"  , :class => "btn btn-large btn-primary", :style =>"color:white" %>
  	<%= link_to "Cancel" , :back, :class => "btn btn-large btn-primary", :style =>"color:white"  %>
  </div>
<% end %>


<%= render :partial => "devise/shared/links" %>
</div>
