<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<h2> <%= params %> </h2>
  <% if params[:forum_id] %>
  	<input type="hidden" id="forum_forum_id" name="topic[forum_id]" value="<%= params[:forum_id] %>" />
  <% end %>
    
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <p>  
    <textarea name="post[content]" cols="80" rows="20"></textarea>  
  </p>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
