<%= form_for(@topic) do |f| %>
  <% if @topic.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

      <ul>
      <% @topic.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:forum_id] %>
  	<input type="hidden" id="forum_forum_id" name="forum_id" value="<%= params[:forum_id] %>" />
  <% end %>
    
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br />
  </div><br />
  <div class="actions">
    <%= f.submit :class => "btn btn-primary", :style =>"color:white" %>
  </div>
<% end %>
