<% provide(:title, @topic.name) %>
<% @forumHash = find_forumName_by_topicId(params[:id]) %><br />
<div class="navbar"><h4 class="pull-left"><%= link_to @forumHash[:forum], forum_path(:id => @forumHash[:forum_id] ) %> >> <%= @topic.name %></h4></div><br /> <br>
<% if @topic.posts.count > 0 %>
	<%@outer_index=1%>
	<% for post in @topic.posts %>
	<div class="well well-large">
	    <% @post = post %>
		  		<div class="row">
		  			<!--<div class="span2" style="width: 110px">
		  				<%= link_to gravatar_for(post.user), post.user.username %>
		  			</div> -->
	       			<p class="span10 post-body"><%= raw(post.content) %></p>
	       			
	       			<br /><br />
	       			<div class="span11"> 
	       				   <p class="posted-at pull-right">–Posted  <abbr class="timeago" title="<%= (post.created_at).getutc.iso8601 %>"></abbr> 
	       						  by <a href="/users/"<%=post.user.id%>> <%= find_user(post.user_id).username %>  
	       						</a>
	       					</p>
	       			</div>
	       		</div>
	        	<div class="well well-small">
				<div class="tabbable tabs-left">
				<% @all_comments = post.comment_threads %>
		        <% if @all_comments %>
		        	<ul class="nav nav-tabs">
		        		<% @i = 1 %>
						<% for c in @all_comments %>
							<li id="li-tab<%=@i%><%=@outer_index%>">
								<a href="#tab<%=@i%><%=@outer_index%>" data-toggle="tab"><i class="icon-comment icon-white"></i></a>
							</li>
					   		<% @i = @i + 1 %>
						<% end %>
					</ul>
					<div class="tab-content">
						<% @i = 1 %>
						<% for c in @all_comments %>							
					   		<% @user = find_user(c.user_id) %>
					   		<div class="tab-pane" id="tab<%=@i%><%=@outer_index%>">
					     	 <pre>
							    <p class="posted-details"><%= raw(c.body) %></p>
							    <p class="posted-at">–Posted  <abbr class="timeago" title="<%= (c.created_at).getutc.iso8601 %>"></abbr> by <a href="users/66354"><%= @user.username %> </a></p>
						     </pre>
							 <% @i = @i + 1 %>
							 <div class="pull-right"><% if owner?(c.user_id) %>
						  		<i class="icon-edit icon-white"></i><%= link_to " Edit Comment", edit_comment_path(:id => c.id, :post_id => c.commentable_id) %> |
						  	 <% end %>
						  	 <% if admin_or_owner?(c.user_id) %>
						  		<i class="icon-trash icon-white"></i><%= link_to " Delete Comment", c , :params => {:id => c.id, :post_id => c.commentable_id}, :method =>:delete, :confirm => "Are you sure?" %>
						     <% end %></div>
					    	 
				     		</div>
					    	
						<% end %>
					</div>
			    <% end %>
			    </div> <!-- end of tabbable tabs-left --> 
			    </div> <!-- end of well small -->
			    <div><script language="javascript"> this.document.getElementById("li-tab1<%=@outer_index%>").setAttribute("class", "active");</script></div>
			    <div><script language="javascript"> this.document.getElementById("tab1<%=@outer_index%>").setAttribute("class", "tab-pane active");</script></div>
				
					
		  
		 <p>
		 <!-- <a href="/comments/new?post_id=<%= post.id %>" title="Comment" 
		   onclick="Modalbox.show(this.href, {title: this.title, width: 800}); return false;">
		   Comment</a> -->
		  <% if user_signed_in? %>
		     <i class="icon-pencil icon-white"></i><%= link_to " Comment on post", "/comments/new?post_id=#{post.id}"%> |
		  <% end %>
	 	  <% if owner?(post.user_id) %>
		  	<i class="icon-edit icon-white"></i><%= link_to " Edit Post", edit_post_path(post) %> |
		  <% end %>
		  <% if admin_or_owner?(post.user_id) %>
		  	<i class="icon-trash icon-white"></i><%= link_to " Delete Post", post, :method =>:delete,:confirm => "Are you sure?" %>
		  <% end %>	
		 </p>
	 </div>	 <!-- end of well large -->	
     <%@outer_index = @outer_index + 1 %>	
	 <% end %>
	 

	 
	 <% if user_signed_in? %>
		  	<%= link_to "Reply", "#{new_post_path}?topic_id=#{@topic.id}" , :class => "btn btn-primary", :style =>"color:white" %>
	 <% end %>
	 	 
<% else %>
	<%= link_to "New Post", "/posts/new?topic_id=#{@topic.id}" , :class => "btn btn-primary", :style =>"color:white"  %>
<% end %>