<% provide(:title, @topic.name) %> 
<% if @topic.posts.count >0 %>
	<% for post in @topic.posts %>
	<pre>
	  	<%= link_to gravatar_for(post.user), post.user.username %>
        <%= post.content %>
	</pre>  
	<p>  
	  <% if user_signed_in? %><%= link_to "Reply", "#{new_post_path}?topic_id=#{@topic.id}" %> |<% end %>
	  <%= link_to "Edit", edit_post_path(post) %> |
	  <%= link_to "Delete", post, :confirm => 'Are you sute?', :method => :delete %>  
	</p>
	

	<% end %>
<% else %>
	<%= link_to "New Post", "/posts/new?topic_id=#{@topic.id}"  %>
<% end %>
