<% full_title "Forgot password?" %>
<h2 class="pull-left">Forgot your password?</h2><br /><br /><br />

<h2></h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %>
  <%= f.email_field :email %></div><br />

  <div><%= f.submit "Send me reset password instructions" , :class => "btn btn-primary", :style =>"color:white"  %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>