<% full_title "Sign In" %>
<div style="width: 350px; background-color: rgba(40, 40, 40, 0.9);padding: 20px; color: white">
<h2 class="pull-left">Sign In</h2><br /><br /><br />

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :username , :style =>"color: white" %>
  <%= f.text_field :username %></div>

  <div><%= f.label :password , :style =>"color: white" %>
  <%= f.password_field :password %></div>

  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me, :style =>"color: white" %></div>
  <% end -%><br />

  <div><%= f.submit "Sign in" , :class => "btn btn-large btn-primary", :style =>"color:white" %>
  	<%= link_to "Cancel" , :back, :class => "btn btn-large btn-primary", :style =>"color:white"  %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
</div>
