<%= form_for(@post) do |f| %>

	<div disabled="true">
		<script type="text/javascript">
       		bkLib.onDomLoaded(function() { nicEditors.allTextAreas() });
		</script>
	</div>
	
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if params[:topic_id] %>
  	<input type="hidden" id="topic_forum_id" name="post[topic_id]" value="<%= params[:topic_id] %>" />
  <% end %>
    
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_area :content,:cols=>"85", :rows=>"15"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
