<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
  	
    <div class="container">
      <div class="pull-left"><%= link_to "KForum", root_path, id: "logo" %></div>
   	  
   	  <div class="container">
      <div class="pull-right">
       <nav>   
        <ul class="nav nav-tabs">        	
	      <% if signed_in? %>
	        <!--<li>
	        	<form class="navbar-search" >
	  				<i class="icon-search icon-white" style="height: 20px; fit: 20px "></i> 
	  				<input style="height: 20px; margin:0px 
	  					padding-top: 8px; padding-bottom: 8px;" 
	  					type="text" class="search-query" placeholder="Search Topics">
			 	</form>
			 </li>-->
			 <li>
			 	<form class="navbar-search" action="/posts" method="get">
			 		<div class="input-append">
				    	<span style="height: 17px; margin:0px;
				        	padding-top: 8px; padding-bottom: 8px;" class="add-on"><i class="icon-search"></i>
				      	</span><input id="search" name="search" type="text" style="height: 20px; margin:0px;
				        	padding-top: 8px; padding-bottom: 8px;" class="search-query" placeholder="Search Posts" class="span2">
				    </div>
				</form>
				
			</li>
		  <% end %>
          <li><a href=<%=root_path%>><i class="icon-home icon-white"></i>&nbsp;Home</li></a>
          <li><a href=<%=forums_path%>><i class="icon-list-alt icon-white"></i>&nbsp;Forum</li></a>
          <li><a href=<%=help_path%>><i class="icon-bell icon-white "></i>&nbsp;Help</li></a>
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown"><Account><i class="icon-wrench icon-white"></i>&nbsp;<%=current_user.username%>&nbsp;<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Profile", "/users/#{current_user.id}" %></li>
                <li><%= link_to "Edit Settings", edit_user_registration_path(current_user) %></li>
                <% if admin? %><li><%= link_to "Administration", admin_root_path() %></li><% end %>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", user_session_path %></li>
          <% end %>
        </ul>
        </nav>
        </div>

    </div>
  </div>
</div>
</header>