<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <meta name="keywords" content="<%= meta_keywords %>" />
	<meta name="description" content="<%= meta_description %>" />
	<meta name="google-site-verification" content="HoiZgc9B3a-YAwAFx1SHpq-XoAaNaByXKl1hTsgGW7c" /> 
	
    <%= stylesheet_link_tag "application", media: "all" %>
	<%= javascript_include_tag 'application',:async => "async" %>
    <%= javascript_include_tag 'jquery' ,:async => "async" %>
    
   <style type="text/css">
      	a:link {text-decoration: none;color: #33B5E5;}
  		a:visited {text-decoration: none;color: #33B5E5;}
  		a:active {text-decoration: none;color: #33B5E5;}
  		a:hover {text-decoration: underline; color: $grayDarker;}
   </style>
    
   <%= render 'layouts/shim' %>
  </head>
  <body>
   
   <div id="wrap"> 
   <div class="container-fluid">
      <div class="row-fluid">
      		<div class="span9" style="padding-left: 65px;">
		        <% flash.each do |key, value| %>
		        <%= content_tag(:div, value , class: "alert alert-#{key}", :id => "flash") %>
		          
		        <% end %>
				<%= render 'layouts/header' %><br />
				<%= yield %>
			</div>
			
			<!--right col-->
		    <div class="span3">
		        <!-- Buttons -->
		        <br />
            	<%= render 'layouts/sidebar' %>
		    </div>
		    
		    <div id="push"></div>
	  </div>
	  </div>  <!-- /container -->
	</div>  	  			
	<%= render 'layouts/footer' %>
	<!--<%= debug(params) if Rails.env.development? %>-->
 </body>
 
 
   <link rel="stylesheet" type="text/css" href="/assets/jqcloud.css" />
   <script async="async" type="text/javascript" src="/assets/jqcloud-1.0.2.min.js"></script>

    <!-- For markitup --> 
    <script async="async" type="text/javascript" src="/assets/jquery.markitup.js"></script>
    <script async="async" type="text/javascript" src="/assets/set.js"></script>
    


    <!-- For timeago -->   
    <script async="async" type="text/javascript" src="/assets/jquery.timeago"></script>
	<script async="async" >jQuery(document).ready(function($) {$("abbr.timeago").timeago();});</script>
	<link rel="stylesheet" type="text/css" href="/assets/style.css" />
	<link rel="stylesheet" type="text/css" href="/assets/default_style.css" />
	
	<!-- For fading the ticker messages -->   
    <script async="async" type="text/javascript"> 
	    $(function() {
	   $('#flash').delay(1000).fadeIn('normal', function() {
	      $(this).delay(3500).fadeOut();
	   });
	});
	</script>
	
</html>

